[submodule "CakeBrah"]
	path = CakeBrah
	url = https://github.com/mid-kid/CakeBrah
[submodule "CakeHax"]
	path = CakeHax
	url = https://github.com/mid-kid/CakeHax
[submodule "injector"]
	path = injector
	url = https://github.com/yifanlu/3ds_injector.git
